main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  padding: 20px;

  h1 {
    color: white;
    font-size: 2.5em;
  }

  p {
    color: #d1d1d1;
  }

  .time-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;

    .time {
      flex: 1;
      padding: 20px 0.5em;
      margin: 20px;
      background-color: #fff;
      border-radius: 5px;

      h2 {
        font-size: 2em;
        color: $background-color;
      }

      h4 {
        color: darken($accent-color, 10);
      }
    }
  }

  button {
    @include button;
    @include buttonAnchor;
  }
}

@media (min-width: 768px) {
  .time-display {
    max-width: 60%;

    .time {
      flex: 1;
    }
  }
}
