.contact {
  margin: 10px 20px;
  margin-top: 15vh;
  text-align: center;

  h1 {
    font-size: 27px;
    margin-bottom: 10px;
    color: white;
  }

  h3 {
    font-size: 23px;
    margin-bottom: 10px;
  }

  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;

    label {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    input {
      height: 35px;
      padding-left: 15px;
      border: none;
      outline: 0;
    }

    textarea {
      border: none;
      padding: 15px;
      font-size: 14px;
      outline: 0;
    }
  }

  button {
    width: 70%;
    height: 35px;
    border: none;
    color: black;
    background-color: tomato;
    margin: 0 auto;
  }
}

@media (min-width: 500px) {
  .contact {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 800px) {
  .contact {
    width: 50%;
  }
}
