body {
  background-color: $background-color;
  color: #919191;
  text-align: center;

  a {
    @include anchor;
  }

  .menu {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background-color: #fff;
      @include easeOut;
    }

    //   Rotate into X
    &.close {
      transform: rotate(180deg);
      position: fixed;

      .btn-line {
        // Line 1 - Rotate
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }

        // Line 2 - hide
        &:nth-child(2) {
          opacity: 0;
        }

        // Line 3 - Rotate
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }
  }

  nav {
    text-align: left;

    ul {
      list-style: none;

      li {
        margin: 20px;

        a:hover {
          color: $accent-color;
          @include easeOut;
        }
      }
    }
  }
  header {
    width: 100%;
    //   overflow: hidden;
    padding: 20px;
    margin-top: 20vh;
    position: fixed;
    z-index: -2;

    h1 {
      color: white;
      font-size: 28px;
      margin-bottom: 20px;
    }

    p {
      font-size: 15px;
      line-height: 2;
      margin-bottom: 20px;

      span {
        color: white;
      }
    }

    button {
      padding: 0.7rem 2rem;
      background-color: #16161a;
      border: none;
      transition: background 1s;

      a {
        @include anchor;
        font-size: 15px;
      }

      &:hover {
        background-color: $accent-color;
        transform: translate3d(0, -1px, 0);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
      }
    }

    .social-icons {
      margin-top: 10vh;

      a {
        @include anchor;

        i {
          font-size: 22px;
          margin: 5px;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  .nav-links {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: darken($background-color, 5);
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
}

@media (min-width: 768px) {
  p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
