@mixin anchor {
  text-decoration: none;
  color: white;
  font-weight: semibold;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin button {
  padding: 0.7rem 2rem;
  background-color: #16161a;
  border: none;
  transition: background 1s;

  &:hover {
    background-color: $accent-color;
    transform: translate3d(0, -1px, 0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
  }
}

@mixin buttonAnchor {
  @include anchor;
  font-size: 15px;
}
