body {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #262626;
  color: #919191;
  text-align: center;
}

body a {
  text-decoration: none;
  color: white;
  font-weight: semibold;
}

body header {
  width: 100%;
  padding: 20px;
  margin-top: 20vh;
  z-index: -2;
}

body header h1 {
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
}

body header p {
  font-size: 15px;
  line-height: 2;
  margin-bottom: 20px;
}

body header p span {
  color: white;
}

body header button {
  padding: 0.7rem 2rem;
  background-color: #16161a;
  border: none;
  -webkit-transition: background 1s;
  transition: background 1s;
  text-decoration: none;
  color: white;
  font-weight: semibold;
  font-size: 15px;
}

body header button:hover {
  background-color: tomato;
  -webkit-transform: translate3d(0, -1px, 0);
          transform: translate3d(0, -1px, 0);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
}

body header .social-icons {
  margin-top: 10vh;
}

body header .social-icons a {
  text-decoration: none;
  color: white;
  font-weight: semibold;
}

body header .social-icons a i {
  font-size: 22px;
  margin: 5px;
}

body header .social-icons a i:hover {
  color: tomato;
}

.menu {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: fixed;
}

.menu.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  visibility: hidden;
}

nav.show {
  visibility: visible;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #191919;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

nav .nav-links.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 20px;
}

nav ul li a:hover {
  color: tomato;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media (min-width: 768px) {
  p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.work {
  width: 100%;
  padding: 20px;
  margin-top: 10vh;
  z-index: -2;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.work h1 {
  color: white;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  background-color: #111111;
  width: 80%;
  padding: 2em;
  text-align: left;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}

.card h1 {
  margin-bottom: 5px;
}

.card p {
  font-size: 15px;
  margin-bottom: 5px;
}

.card .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.card .display div {
  margin-right: 10px;
  cursor: pointer;
}

.card .display div a {
  color: #777778;
  margin-right: 5px;
}

.card .display div a i {
  padding-right: 5px;
}

@media (min-width: 768px) {
  .card {
    width: 30%;
  }
  .card p {
    width: 100%;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

main h1 {
  color: white;
  font-size: 2.5em;
}

main p {
  color: #d1d1d1;
}

main .time-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .time-display .time {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 0.5em;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
}

main .time-display .time h2 {
  font-size: 2em;
  color: #262626;
}

main .time-display .time h4 {
  color: #ff3814;
}

main button {
  padding: 0.7rem 2rem;
  background-color: #16161a;
  border: none;
  -webkit-transition: background 1s;
  transition: background 1s;
  text-decoration: none;
  color: white;
  font-weight: semibold;
  font-size: 15px;
}

main button:hover {
  background-color: tomato;
  -webkit-transform: translate3d(0, -1px, 0);
          transform: translate3d(0, -1px, 0);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
}

@media (min-width: 768px) {
  .time-display {
    max-width: 60%;
  }
  .time-display .time {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.contact {
  margin: 10px 20px;
  margin-top: 15vh;
  margin-top: 5vh;
  text-align: center;
}

.contact h1 {
  font-size: 27px;
  margin-bottom: 10px;
  color: white;
}

.contact h3 {
  font-size: 23px;
  margin-bottom: 10px;
}

.contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}

.contact div label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact div input {
  height: 35px;
  padding-left: 15px;
  border: none;
  outline: 0;
}

.contact div textarea {
  border: none;
  padding: 15px;
  font-size: 14px;
  outline: 0;
}

.contact button {
  padding: 0.7rem 2rem;
  background-color: #16161a;
  border: none;
  -webkit-transition: background 1s;
  transition: background 1s;
  width: 50%;
  text-decoration: none;
  color: white;
  font-weight: semibold;
  font-size: 15px;
}

.contact button:hover {
  background-color: tomato;
  -webkit-transform: translate3d(0, -1px, 0);
          transform: translate3d(0, -1px, 0);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
}

.contact button:hover {
  color: black;
  background-color: tomato;
}

@media (min-width: 500px) {
  .contact {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 800px) {
  .contact {
    width: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
/*# sourceMappingURL=main.css.map */