body {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #262626;
  color: #919191;
  text-align: center;
}

body a {
  text-decoration: none;
  color: white;
  font-weight: semibold;
}

body .menu {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

body .menu .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

body .menu.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: fixed;
}

body .menu.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

body .menu.close .btn-line:nth-child(2) {
  opacity: 0;
}

body .menu.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

body nav {
  text-align: left;
}

body nav ul {
  list-style: none;
}

body nav ul li {
  margin: 20px;
}

body nav ul li a:hover {
  color: tomato;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

body header {
  width: 100%;
  padding: 20px;
  margin-top: 20vh;
  position: fixed;
  z-index: -2;
}

body header h1 {
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
}

body header p {
  font-size: 15px;
  line-height: 2;
  margin-bottom: 20px;
}

body header p span {
  color: white;
}

body header button {
  padding: 0.7rem 2rem;
  background-color: #16161a;
  border: none;
  -webkit-transition: background 1s;
  transition: background 1s;
}

body header button a {
  text-decoration: none;
  color: white;
  font-weight: semibold;
  font-size: 15px;
}

body header button:hover {
  background-color: tomato;
  -webkit-transform: translate3d(0, -1px, 0);
          transform: translate3d(0, -1px, 0);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
}

body header .social-icons {
  margin-top: 10vh;
}

body header .social-icons a {
  text-decoration: none;
  color: white;
  font-weight: semibold;
}

body header .social-icons a i {
  font-size: 22px;
  margin: 5px;
}

body header .social-icons a i:hover {
  color: tomato;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

nav.show {
  visibility: visible;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #191919;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

nav .nav-links.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

@media (min-width: 768px) {
  p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
/*# sourceMappingURL=main.css.map */